* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #FFF;
  color: #333;
  font-family: var(--font-inter), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

